<% if @name %>
  <h1>My name is <%= @name %></h1>
<% end %>

<div style='border: 5px dotted red'>
  <img src='http://www.annrbrocklehurst.com/wp-content/uploads/2014/06/Matthew-Ward-Jackson.png'>
</div>

<% #if !@name %>
  <form action="/named-cat" method="post">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
<% #end %>
